<div class="row">
    <div class="col-md-6 offset-md-3">
        <h2>Contact</h2>
        <form (ngSubmit)="mail()" [formGroup]="contactForm">
            <div class="form-row" *ngIf="HasError !== null">
                <div class="col-md-12 mb-3">
                    <ngb-alert *ngIf="!HasError" type="success" (closed)="HasError = null">message envoyé avec succès.</ngb-alert>
                    <ngb-alert *ngIf="HasError" type="danger" (closed)="HasError = null">
                        Impossible d'envoyer le message, envoyer un mail directement a <a target="_blank" href="mailto:contact@boitapinte.fr?Subject=Contact&amp;body=Bonjour,
                        %0D%0A%0D%0AJe souhaite vous contacter pour plus d'informations sur votre projet.">contact@boitapinte.fr</a>
                    </ngb-alert>
                    <ngb-alert *ngIf="HasError" type="danger" (closed)="HasError = null"> {{errorMessage}} </ngb-alert>
                </div>
            </div>
            <div class="form-row" *ngIf="HasError === null">
                <div class="col-md-8 mb-3">
                    <label for="fullname" class="form-label" id="login-label" prFormLabelValidation>Nom :</label>
                    <input id="fullname" class="form-control" type="text" formControlName="fullname" />
                    <div id="login-warning" class="text-danger" *ngIf="fullNameCtrl.dirty && fullNameCtrl.hasError('required')">
                        <small>Le nom est obligatoire</small>
                    </div>
                </div>
                <div class="col-md-8 mb-3">
                    <label for="mail" class="form-label" id="login-label" prFormLabelValidation>Email :</label>
                    <input id="mail" class="form-control" type="email" formControlName="mail" placeholder="name@example.com" />
                    <div id="mail-warning-required" class="text-danger" *ngIf="mailCtrl.dirty && mailCtrl.hasError('required')">
                        <small>le mail est obligatoire</small>
                    </div>
                    <div id="login-warning-required" class="text-danger" *ngIf="mailCtrl.dirty && mailCtrl.hasError('email')">
                        <small>le mail n'est pas au bon format : name@example.com</small>
                    </div>
                </div>
                <div class="col-md-8 mb-3">
                    <label for="phone" class="form-label" id="login-label" prFormLabelValidation>Téléphone :</label>
                    <input id="phone" class="form-control" type="tel" formControlName="phone" />
                    <div id="login-warning-required" class="text-danger" *ngIf="phoneCtrl.dirty && phoneCtrl.hasError('required')">
                        <small>le numéro de téléphone est obligatoire</small>
                    </div>
                    <div id="login-warning-required" class="text-danger" *ngIf="phoneCtrl.dirty && phoneCtrl.hasError('pattern')">
                        <small>le numéro de téléphone est incorrect : 0757137489</small>
                    </div>
                    <div id="phone-warning" *ngIf="phoneCtrl.dirty && phoneCtrl.hasError('required')" class="invalid-feedback">le numéro de téléphone est obligatoire</div>
                    <div id="phone-warning" *ngIf="phoneCtrl.dirty && phoneCtrl.hasError('pattern')" class="invalid-feedback">le numéro de téléphone est incorrect</div>
                </div>
                <div class="mb-3">
                    <label for="content" class="form-label" prFormLabel>Message</label>
                    <textarea id="message" rows="6" class="form-control" formControlName="message">
                </textarea>
                    <div id="content-warning" *ngIf="messageCtrl.dirty && messageCtrl.hasError('required')" class="invalid-feedback">Le contenu du message est obligatoire</div>
                    <div id="content-length-error" *ngIf="messageCtrl.dirty && messageCtrl.hasError('minlength')" class="invalid-feedback">
                        Le message doit faire au moins 10 caractères.
                    </div>
                </div>
                <div class="d-flex align-items-center">
                    <button class="btn btn-primary" type="submit" [disabled]="contactForm.invalid || isLoading">Envoyer</button>
                    <div class="spinner-border ml-auto spinner" role="status" aria-hidden="true" *ngIf="isLoading"></div>
                </div>
            </div>
        </form>
    </div>
</div>