

h3 {
    font-family: Agency FB;
}

p {
    font-family: Agency FB;
}

.img-profil {
    border: 1px solid var(--primaryColor);
}

.btn-info {
    background-color: var(--primaryColor);
    border-color: var(--primaryColor);
}