/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/dist/css/bootstrap.css';
@import '~font-awesome/css/font-awesome.css';

:root {
    --primaryColor: #b2dfdb;
    --primaryLightColor: #e5ffff;
    --primaryDarkColor: #82ada9;
    --secondaryColor: #e0f2f1;
    --secondaryLightColor: #ffffff;
    --secondaryDarkColor: #aebfbe;
    --primaryTextColor: #282828;
    --secondaryTextColor: #000000;
    
}

h2 {
    font-family: Agency FB;
	font-size: 3em; 
    margin-top: 25px;
    text-align: center;
}
