@font-face {
    font-family: "Beer note trial";
    src: url("../../assets/fonts/BEERNOTE.ttf") format("truetype");
}

h1 {
    font-family: Beer note trial;
    font-size: 6em;
}

h1 img {
    height: 2em;
    width: auto;
}

h2 {
    font-family: Agency FB;
    font-size: 2em;
}

